@charset 'utf-8';
.help-container {
	overflow: hidden;
	counter-reset: section;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: Microsoft YaHei, '微软雅黑', MicrosoftJhengHei;
	.transition {
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
}

.help-logo-container {
	height: 88px;
	background-color: #366dd1;
	//滚动条也要响应布局
	.help-logo {
		max-width: 100%;
		margin: 0 auto;
		padding-top: 16px;
	}
	.web-logo {
		padding-left: 20px;
		vertical-align: top;
		padding-right: 20px;
	}
	.web-title {
		display: none;
		/*display: inline-block;*/
		vertical-align: top;
		*display: inline;
		*zoom: 1;
		font-size: 28px;
		font-weight: bold;
		padding-right: 10px;
		color: #fff;
		letter-spacing: 2px;
		text-shadow: 2px 0px 5px #000;
	}
	.help-title {
		border-left: 1px solid #fff;
		padding-left: 20px;
		line-height: 62px;
		font-size: 28px;
		font-family: Microsoft YaHei, '微软雅黑', MicrosoftJhengHei;
		color: #fff;
	}
}

.help-nav {
	position: absolute;
	width: 244px;
	margin-right: 6px;
	.nav-list {
		.nav-item {
			display: block;
			height: 54px;
			line-height: 54px;
			color: #366dd1;
			font-size: 16px;
			font-weight: normal;
			text-decoration: none;
			border-left: 4px solid transparent;
			&.nav-active,
			&:hover {
				background-color: #e7f5ff;
				border-left: 4px solid #2684c2;
			}
			.nav-icon {
				display: inline-block;
				vertical-align: top;
				*display: inline;
				*zoom: 1;
				font-size: 0px;
				width: 15px;
				height: 15px;
				margin-top: 20px;
				margin-left: 70px;
				margin-right: 10px;
				background-image: url(../images/help-icon.gif);
				background-position: -0px 0px;
				background-repeat: no-repeat;
			}
		}
	}
}

.help-content {
	margin-left: 250px;
	padding-left: 56px;
	padding-right: 96px;
	border-left: 1px solid #e5e5e5;
	font-size: 14px;
	.back-help {
		display: inline-block;
		line-height: 30px;
		height: 30px;
		padding-top: 20px;
		text-decoration: none;
		color: #4aa1f3;
		cursor: pointer;
		.back-icon {
			display: inline-block;
			vertical-align: top;
			*display: inline;
			*zoom: 1;
			width: 14px;
			height: 14px;
			margin-top: 8px;
			margin-right: 2px;
			background-image: url(../images/help-guide.png);
			background-position: 0 0;
			background-repeat: no-repeat;
		}
		&:hover {
			margin-left: -10px;
			color: #366dd1;
			.back-icon {
				background-position: 0 -14px;
			}
		}
	}
	.article-title {
		padding-top: 15px;
		height: 54px;
		line-height: 54px;
		font-size: 24px;
		font-weight: bold;
		color: #366dd1;
		border-bottom: 1px solid #e5e5e5;
	}
	.help-question {
		.help-list {
			margin-top: 36px;
			margin-bottom: 36px;
			overflow: hidden;
			.title {
				font-size: 22px;
				line-height: 36px;
				font-weight: bold;
				a {
					color: #333;
				}
			}
			.summary {
				margin-top: 4px;
				line-height: 30px;
				color: #333;
				max-height: 90px;
				overflow: hidden;
				text-align: justify;
				&.detail {
					max-height: 100%;
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 15px;
					padding-right: 15px;
					border-top: 1px solid #d2d4d4;
					cursor: pointer;
					background-color: #f2f8fc;
				}
			}
			.view {
				display: inline-block;
				line-height: 36px;
				color: #4aa1f3;
				cursor: pointer;
				margin-left: -11px;
				text-decoration: none;
				.open-icon {
					display: inline-block;
					vertical-align: top;
					*display: inline;
					*zoom: 1;
					width: 10px;
					height: 10px;
					margin-top: 14px;
					margin-left: 3px;
					background-image: url(../images/help-guide.png);
					background-position: 0 -28px;
					background-repeat: no-repeat;
				}
				&:hover {
					color: #366dd1;
					margin-left: 0px;
					.open-icon {
						background-position: 0 -38px;
					}
				}
			}
			.active {
				margin-left: 0px;
				&:hover {
					color: #366dd1;
					margin-left: -11px;
				}
			}
			.symbol {
				font-weight: normal;
				font-family: simsun;
				margin-right: 4px;
			}
		}
	}
}

.info {
	line-height: 30px;
	color: #999;
	.time {
		time {
			margin-right: 5px;
		}
	}
	.author {
		margin-left: 5px;
	}
	.organ {
		margin-left: 5px;
	}
}

.help-top {
	position: fixed;
	right: 20px;
	bottom: 0px;
	margin-bottom: 100px;
	margin-left: 727px;
	width: 50px;
	height: 50px;
	background-image: url(../images/help-top.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	&:hover {
		background-position: 0 -50px;
	}
}

.help-catalog {
	position: absolute;
	width: 244px;
	margin-right: 6px;
	.catalog-title {
		font-size: 20px;
		height: 40px;
		line-height: 40px;
		color: #366dd1;
		text-align: center;
		background-color: #e7f5ff;
		border-bottom: 2px solid #2684c2;
		margin-bottom: 10px;
		.catalog-icon {
			display: inline-block;
			vertical-align: top;
			*display: inline;
			*zoom: 1;
			font-size: 0px;
			width: 15px;
			height: 15px;
			margin-top: 14px;
			margin-left: 0px;
			margin-right: 6px;
			background-image: url(../images/help-icon.gif);
			background-position: 0 0;
			background-repeat: no-repeat;
		}
	}
	ul {
		overflow: hidden;
		padding-left: 6px;
		background-image: url(../images/catalog-line.png);
		background-position: -26px 0px;
		background-repeat: repeat-y
	}
	.catalog-list {
		margin-bottom: 6px;
		line-height: 22px;
		position: relative;
		.catalog-item {
			display: block;
			color: #666;
			font-size: 14px;
			padding: 0 15px;
			font-weight: normal;
			text-align: justify;
			text-decoration: none;
			border-left: 2px solid transparent;
			&:before {
				counter-increment: section;
				content: counter(section) ". ";
			}
		}
		.list-icon {
			position: absolute;
			left: 4px;
			top: 7px;
			font-size: 0px;
			width: 7px;
			height: 6px;
			margin-left: 0px;
			margin-right: 0px;
			background-image: url(../images/catalog-line.png);
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -20px;
		}
		&.active .catalog-item {
			font-weight: bold;
			color: #000;
		}
		&:hover .catalog-item {
			transform: translateX(10px);
			color: #366dd1;
		}
		&.active .list-icon,
		&:hover .list-icon {
			background-position: 0 -6px;
		}
	}
}

.help-article {
	margin-left: 250px;
	padding-right: 56px;
	.place {
		margin-top: 10px;
		border-bottom: none;
		a {
			color: #333;
			&:hover {
				color: #4aa1f3;
			}
		}
	}
	.article-title {
		padding-top: 15px;
		text-align: center;
		color: #333;
		height: 34px;
		line-height: 34px;
		border-bottom: none;
	}
	.article-info {
		font-size: 12px;
		text-align: center;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 4px;
	}
	.article-content {
		padding: 10px 0 50px;
		p {
			word-break: break-word;
			color: #333;
			font-size: 14px;
			margin: 20px 0;
			text-indent: 2em;
			line-height: 26px;
		}
		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
}

@media screen and(max-width:801px) {
	.help-container {
		max-width: 100%;
		margin-top: 0px;
	}
	.help-nav {
		max-width: 100%;
		min-width: 380px;
		margin-right: 0px;
		position: relative!important;
		top: 0px!important;
		width: auto;
		margin-top: 30px;
		padding-left: 56px;
		padding-right: 56px;
		font-size: 0px;
		.nav-list {
			display: inline-block;
			width: 33%;
			.nav-item {
				display: block;
				height: 54px;
				line-height: 54px;
				color: #366dd1;
				font-size: 16px;
				font-weight: normal;
				text-decoration: none;
				border-left: none;
				border-bottom: 2px solid transparent;
				text-align: center;
				text-indent: -22px;
				&.nav-active,
				&:hover {
					background-color: #e7f5ff;
					border-left: none;
					border-bottom: 2px solid #2684c2;
				}
				.nav-icon {
					margin-left: 25px;
				}
			}
		}
	}
	.help-content {
		min-width: 380px;
		margin-left: 0px;
		padding-right: 56px;
		.article-title {
			padding-top: 20px;
		}
	}
	.help-top {
		position: relative;
		left: 0px;
		top: 0px;
		margin: 0 auto;
	}
	.help-catalog {
		width: auto;
		margin-right: 0px;
		position: relative!important;
		top: 0px!important;
		ul {
			padding-left: 15px;
			background-position: -17px;
		}
	}
}

@media screen and(min-width:1300px) {
	.help-logo-container {
		.help-logo {
			max-width: 1400px;
		}
	}
	.help-container {
		max-width: 1400px;
	}
	.help-catalog {
		width: 304px;
		ul {}
	}
	.help-article {
		margin-left: 310px;
	}
	.help-top {
		margin-left: 1037px;
		left: auto;
		right: auto;
	}
}