@charset "UTF-8";
/* line 2, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
.online.wrapper {
  margin: 0 auto;
  padding: 0 20px; }
  /* line 6, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
  .online.wrapper .header {
    padding: 15px 0;
    height: 24px;
    margin: 0 8px;
    border-bottom: 1px solid #d8d7d7; }
    /* line 11, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
    .online.wrapper .header em {
      color: #fb4a7a;
      font-weight: bold; }
    /* line 15, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
    .online.wrapper .header .e-clock {
      padding-left: 18px;
      background-image: url(../images/online-icon.png);
      background-repeat: no-repeat; }
    /* line 20, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
    .online.wrapper .header .btn-freshen {
      margin-left: 6px;
      padding: 4px 10px;
      line-height: 14px;
      font-size: 14px; }
  /* line 28, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
  .online.wrapper .online-content .toolbar {
    margin: 0 8px;
    padding: 12px 0;
    font-family: 'Microsoft YaHei', '微软雅黑', 'MicrosoftJhengHei'; }
    /* line 32, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
    .online.wrapper .online-content .toolbar .order {
      float: left; }
      /* line 34, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
      .online.wrapper .online-content .toolbar .order.active {
        display: block; }
      /* line 37, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
      .online.wrapper .online-content .toolbar .order ul {
        display: none; }
      /* line 40, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
      .online.wrapper .online-content .toolbar .order .liketext {
        font-size: 14px; }
    /* line 44, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
    .online.wrapper .online-content .toolbar .search {
      float: right; }
      /* line 46, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
      .online.wrapper .online-content .toolbar .search label {
        margin-left: 10px; }
      /* line 49, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
      .online.wrapper .online-content .toolbar .search .text {
        width: 120px;
        height: 20px;
        padding: 4px 10px;
        /* line-height: 20px; */
        color: #555;
        border: 1px solid #d2d2d2;
        background-color: #fff;
        outline: 0;
        vertical-align: middle; }
      /* line 60, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
      .online.wrapper .online-content .toolbar .search .btn-search {
        margin-left: 10px;
        line-height: 16px;
        font-size: 14px; }
  /* line 68, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
  .online.wrapper .info-card-list {
    position: relative; }
    /* line 70, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
    .online.wrapper .info-card-list .node {
      float: left;
      margin-bottom: 16px;
      width: 50%;
      font-family: 'Microsoft YaHei', '微软雅黑', 'MicrosoftJhengHei'; }
      /* line 75, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
      .online.wrapper .info-card-list .node .node-container {
        position: relative;
        padding: 16px;
        margin: 0 8px;
        background-color: #f2f2f5; }
      /* line 81, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
      .online.wrapper .info-card-list .node .avator {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 50px;
        padding: 0 16px; }
        /* line 87, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
        .online.wrapper .info-card-list .node .avator .image {
          margin-top: 46px;
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 50%;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); }
      /* line 96, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
      .online.wrapper .info-card-list .node .info {
        position: relative;
        margin-left: 66px; }
        /* line 99, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
        .online.wrapper .info-card-list .node .info .info-container {
          border-left: 1px solid #d9d9d9;
          padding-left: 16px;
          color: #4b4b4b; }
          /* line 103, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
          .online.wrapper .info-card-list .node .info .info-container div {
            line-height: 22px; }
          /* line 106, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
          .online.wrapper .info-card-list .node .info .info-container .imp {
            margin-bottom: 4px;
            color: #333;
            font-size: 14px; }
            /* line 110, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
            .online.wrapper .info-card-list .node .info .info-container .imp .name {
              display: inline-block;
              vertical-align: middle;
              *display: inline;
              *zoom: 1;
              font-weight: bold; }
            /* line 117, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
            .online.wrapper .info-card-list .node .info .info-container .imp .nickname {
              display: inline-block;
              vertical-align: middle;
              *display: inline;
              *zoom: 1; }
            /* line 123, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
            .online.wrapper .info-card-list .node .info .info-container .imp .role {
              display: inline-block;
              vertical-align: top;
              *display: inline;
              *zoom: 1;
              margin-left: 4px;
              background-image: url(../images/online-icon.png); }
              /* line 130, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
              .online.wrapper .info-card-list .node .info .info-container .imp .role.parent {
                margin-top: 3px;
                width: 21px;
                height: 16px;
                background-position: 0 -14px; }
              /* line 136, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
              .online.wrapper .info-card-list .node .info .info-container .imp .role.student {
                margin-top: 2px;
                width: 15px;
                height: 17px;
                background-position: 0 -30px; }
              /* line 142, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
              .online.wrapper .info-card-list .node .info .info-container .imp .role.teacher {
                margin-top: 1px;
                width: 13px;
                height: 19px;
                background-position: 0 -47px; }
          /* line 150, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
          .online.wrapper .info-card-list .node .info .info-container .interest {
            margin-right: 6px; }
            /* line 152, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
            .online.wrapper .info-card-list .node .info .info-container .interest:after {
              content: "";
              border-right: 1px solid #d9d9d9;
              padding-left: 10px;
              display: inline-block;
              width: 0px;
              height: 12px;
              position: relative;
              top: 2px; }
      /* line 165, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
      .online.wrapper .info-card-list .node .follow {
        position: absolute;
        right: 16px;
        top: 16px; }
        /* line 169, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
        .online.wrapper .info-card-list .node .follow .btn-message {
          margin-left: 4px; }
          /* line 171, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
          .online.wrapper .info-card-list .node .follow .btn-message:hover {
            color: #fff;
            background-color: #48A348;
            border: 1px solid #368B36; }
        /* line 178, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
        .online.wrapper .info-card-list .node .follow .btn-interest-not .iconfont {
          color: #d9534f; }
        /* line 183, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
        .online.wrapper .info-card-list .node .follow .btn-interest-on .iconfont {
          color: #5bc0de;
          font-weight: bold; }
        /* line 189, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
        .online.wrapper .info-card-list .node .follow .btn-interest-mutual .iconfont {
          color: #5bc0de;
          font-weight: bold; }
        /* line 194, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
        .online.wrapper .info-card-list .node .follow .btn-interest-off {
          color: #fff;
          background-color: #d9534f;
          border: 1px solid #d43f3a; }

@media screen and (max-width: 850px) {
  /* line 207, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
  .online.wrapper .info-card-list .node {
    width: 100%; } }

@media screen and (min-width: 1350px) {
  /* line 217, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
  .online.wrapper .info-card-list .node {
    width: 33.333%; } }

@media screen and (min-width: 1700px) {
  /* line 227, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/online.scss */
  .online.wrapper .info-card-list .node {
    width: 25%; } }

/*# sourceMappingURL=online.css.map */