@charset "UTF-8";
/* line 2, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
body {
  background-color: #eeedec; }

/* line 6, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.filter-block {
  padding: 10px;
  padding-bottom: 0; }
  /* line 9, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .filter-block .btn {
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
    background-color: #508cf9;
    border: 1px solid #366dd1; }
    /* line 18, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .filter-block .btn .iconfont {
      margin-right: 10px;
      font-size: 14px;
      width: 14px;
      display: inline-block;
      *display: inline;
      *zoom: 1; }
    /* line 26, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .filter-block .btn:hover {
      color: #fff;
      border-color: #2a62c9;
      background-color: #3e7df0; }

/* line 34, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.table {
  width: 100%;
  text-align: center;
  position: relative; }
  /* line 38, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table tbody {
    display: table-row-group; }
  /* line 41, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table th {
    height: 36px;
    padding: 2px 10px;
    color: #fff;
    line-height: 36px;
    font-family: Microsoft YaHei, '微软雅黑', MicrosoftJhengHei;
    text-align: center;
    border: 1px solid #fff;
    border-top: none;
    background-color: #508cf9; }
    /* line 51, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .table th.sortable {
      cursor: pointer; }
      /* line 54, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
      .table th.sortable .asc,
      .table th.sortable .desc {
        display: none; }
    /* line 58, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .table th .iconfont {
      font-size: 14px; }
  /* line 62, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table td {
    height: 35px;
    padding: 2px 10px;
    color: #333;
    border: 1px solid #fff;
    background-color: #dfe7ef;
    overflow: hidden;
    word-break: break-all; }
    /* line 70, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .table td .real-mod-input {
      width: 50px;
      height: 20px;
      padding: 5px 10px;
      line-height: 20px;
      color: #555;
      border: 1px solid #d2d2d2;
      background-color: #fff;
      outline: 0;
      vertical-align: middle; }
  /* line 82, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table .checkbox-th {
    width: 40px; }
  /* line 85, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table .checkbox {
    vertical-align: middle; }
  /* line 90, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table tr.hover td,
  .table tr.selected td {
    background-color: #d1e0ed; }
  /* line 94, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table img {
    margin: 5px 0; }

/* line 99, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.table-thumb {
  text-align: left;
  margin-right: -10px; }
  /* line 102, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-thumb .thumb-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 10px 10px 0;
    padding: 10px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d2d2d2; }

/* line 114, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.thumb-content {
  font-family: Microsoft YaHei, '微软雅黑', MicrosoftJhengHei;
  overflow: hidden;
  *zoom: 1; }
  /* line 118, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .thumb-content .thumb-title {
    margin-bottom: 1em; }
  /* line 121, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .thumb-content .thumb-section {
    margin: .5em 0;
    word-break: break-all;
    overflow: hidden;
    *zoom: 1; }
  /* line 127, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .thumb-content .thumb-btns {
    padding-top: 10px;
    border-top: 1px solid #e6e6e6; }

/* line 133, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.table-tool-bar {
  padding: 10px 10px 10px 10px;
  font-family: Microsoft YaHei, '微软雅黑', MicrosoftJhengHei; }
  /* line 136, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tool-bar .form-group {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-bottom: 10px; }
  /* line 142, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tool-bar .ui-droplist {
    z-index: 1; }
  /* line 145, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tool-bar span {
    line-height: 2.5em; }
  /* line 148, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tool-bar .btn {
    padding: 5px 12px;
    margin-right: 8px;
    margin-bottom: 0px;
    color: #333;
    font-family: Microsoft YaHei, '微软雅黑', MicrosoftJhengHei;
    font-size: 14px;
    border: 1px solid #d2d2d2; }
    /* line 156, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .table-tool-bar .btn .iconfont {
      margin-right: 7px;
      font-size: 13px; }
    /* line 160, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .table-tool-bar .btn:hover {
      border-color: #508cf9;
      background-color: #e8effb; }
    /* line 164, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .table-tool-bar .btn .ui-selectbox-icon {
      border-top-color: #A7A7A7 !important; }
    /* line 167, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .table-tool-bar .btn.active .ui-selectbox-icon {
      border-top-color: transparent;
      border-bottom-color: #a7a7a7 !important; }
  /* line 173, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tool-bar .btn-filter {
    color: #fff;
    background-color: #508cf9;
    border: 1px solid #366dd1; }
    /* line 177, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .table-tool-bar .btn-filter:hover {
      color: #fff;
      border-color: #2a62c9;
      background-color: #3e7df0; }
    /* line 182, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .table-tool-bar .btn-filter .ui-selectbox-icon {
      border-top-color: #ffffff !important; }
    /* line 185, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .table-tool-bar .btn-filter.active .ui-selectbox-icon {
      border-top-color: transparent;
      border-bottom-color: #ffffff !important; }
  /* line 190, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tool-bar .add-btn {
    color: #5cb85c; }
  /* line 193, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tool-bar .remove-btn {
    color: #f00; }
  /* line 196, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tool-bar .mod-btn {
    color: #417dea; }

/* line 201, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.table-switch {
  height: 33px;
  margin-right: 10px;
  font-size: 20px;
  color: #8b8b8a;
  vertical-align: middle;
  cursor: pointer; }
  /* line 208, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-switch:hover {
    color: #558ff9;
    text-decoration: none; }
  /* line 212, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-switch.selected {
    color: #558ff9; }

/* line 217, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.table-top-bar {
  position: relative;
  padding: 10px;
  color: #666;
  font-family: Microsoft YaHei, '微软雅黑', MicrosoftJhengHei;
  border: 1px solid #fff;
  border-bottom: none;
  background-color: #dfe7ef;
  overflow: hidden;
  *zoom: 1; }
  /* line 227, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-top-bar span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }
  /* line 233, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-top-bar .table-top-right {
    position: absolute;
    top: 0;
    right: 10px;
    height: 49px;
    line-height: 49px;
    font-size: 14px; }
  /* line 241, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-top-bar .selected-info {
    margin-right: 10px; }

/* line 246, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.table-bottom-bar {
  width: 100%;
  padding: 10px 0;
  color: #666;
  border-top: none;
  background-color: #dfe7ef;
  *zoom: 1; }
  /* line 254, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-bottom-bar:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both; }
  /* line 261, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-bottom-bar .table-bottom-left {
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    white-space: nowrap; }
  /* line 267, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-bottom-bar .table-bottom-right {
    float: right;
    text-align: right;
    margin-right: 10px; }
  /* line 272, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-bottom-bar .ui-selectbox {
    height: 28px;
    line-height: 28px; }
  /* line 276, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-bottom-bar .pagesize {
    margin-right: 10px; }

/* line 281, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.pagination {
  color: #666; }
  /* line 283, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .pagination a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px;
    color: #333;
    font-size: 12px;
    font-family: Microsoft YaHei, '微软雅黑', MicrosoftJhengHei;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    vertical-align: middle;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px; }
    /* line 304, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .pagination a:hover,
    .pagination a.on {
      border-color: #508cf9;
      background-color: #fff;
      color: #508cf9;
      text-decoration: none; }
    /* line 310, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .pagination a:active {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAJklEQVQIW2P4//+/NxMDA8N/JgYGhn+oLDQu7Vk/GP4zMXDQx3IA0To1YWcEwtQAAAAASUVORK5CYII=");
      background-repeat: repeat-x; }
    /* line 314, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .pagination a.disabled {
      opacity: .65;
      filter: alpha(opacity=65);
      cursor: default; }
    /* line 322, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .pagination a.next-page,
    .pagination a.prev-page,
    .pagination a.index-page,
    .pagination a.last-page {
      color: #fff;
      border-color: #366dd1;
      background-color: #417dea; }
    /* line 330, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
    .pagination a.next-page:hover,
    .pagination a.prev-page:hover,
    .pagination a.index-page:hover,
    .pagination a.last-page:hover {
      border-color: #225ac0;
      background-color: #3772dc;
      color: #fff; }

/* line 338, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.normal-select {
  height: 28px;
  color: #555;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  vertical-align: middle; }

/* line 346, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.page-btn {
  padding: 6px 11px;
  color: #666;
  background-color: #fff;
  border: 1px solid #bfbfbf; }
  /* line 351, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .page-btn:hover {
    border-color: #508cf9;
    color: #508cf9; }

/* line 357, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.page-jump .form-control {
  width: 30px;
  height: 16px;
  line-height: 16px;
  text-align: center; }

/* line 366, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.page-function .page-jump,
.page-function .page-size {
  margin-right: 10px; }

/* line 369, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.page-function .normal-select {
  font-weight: bold; }

/* line 372, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.page-function .page-info {
  line-height: 28px; }

/* line 377, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.page-size .form-control {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 15px;
  height: 16px; }

/* line 385, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.table-tip {
  width: 100%;
  height: 400px; }
  /* line 388, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tip.table-loading {
    background: #dfe7ef url("../images/table-loading.gif") center center no-repeat; }
  /* line 391, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tip.table-none {
    background: #dfe7ef url("../images/table-none.png") center center no-repeat; }
  /* line 394, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
  .table-tip.table-timeout {
    background: #dfe7ef url("../images/table-timeout.png") center center no-repeat; }

/* line 399, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.table-none {
  width: 100%;
  height: 500px;
  line-height: 500px;
  font-size: 22px;
  font-family: Microsoft YaHei, '微软雅黑', MicrosoftJhengHei;
  text-align: center;
  background-color: #dfe7ef; }

/* line 409, G:/SVN/Html/前端库/后台系统初版/html/stylesheets/table.scss */
.grid-wrapper {
  overflow: auto;
  overflow-y: hidden;
  background-color: #dfe7ef; }

/*# sourceMappingURL=table.css.map */