@charset "UTF-8";
/* CSS Document */
/*==================================================
    * @name CSS 组件UI
    * @author 莫胜利/lisfan Cell：18072152020/WeChat：448182355
    * @version - v1.0#2016-01-27
==================================================*/
/* line 12, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.fl {
  float: left; }

/* line 16, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.fr {
  float: right; }

/* line 20, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.clear {
  _zoom: 1; }

/* line 24, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.clear:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  content: "."; }

/* line 32, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.clearfix {
  _zoom: 1; }

/* line 36, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  content: "."; }

/* 悬浮固定 */
/* line 47, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.com-fixer {
  position: fixed !important;
  z-index: 19890129 !important; }

/* 通用导航 */
/* 条件过滤 */
/* 下拉组件 */
/* line 81, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.com-droplist {
  position: relative;
  z-index: 1000; }
  /* line 85, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .com-droplist .com-trigger {
    position: relative;
    z-index: 100;
    cursor: pointer;
    background-color: #fff; }
  /* line 93, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .com-droplist .com-target {
    position: absolute;
    z-index: 90;
    height: initial;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    white-space: nowrap;
    display: none; }
  /* line 108, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .com-droplist .ui-rotate-arrow {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: 100;
    margin-top: -3px;
    margin-left: 2px;
    width: 0px;
    border: 4px solid transparent;
    border-top-color: #777;
    font-size: 0px;
    line-height: 0;
    cursor: pointer; }
  /* line 123, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .com-droplist .ui-flip-arrow {
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 100;
    margin-top: -3px; }
    /* line 129, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
    .com-droplist .ui-flip-arrow:after {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      border: 1px solid transparent;
      border-bottom-color: #777;
      border-right-color: #777;
      background-color: transparent;
      font-size: 0px;
      line-height: 0;
      cursor: pointer;
      transform-origin: 50% 50%;
      transform: rotate(45deg);
      display: none\9; }

/* 动画效果 */
/* line 151, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  -ms-animation-duration: .5s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both; }

/* line 164, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.slow {
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  -ms-animation-duration: .2s;
  animation-duration: 2s; }

/* line 172, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.slowly {
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  -ms-animation-duration: 5s;
  animation-duration: 5s; }

/* line 180, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.fast {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  -ms-animation-duration: .5s;
  animation-duration: .5s; }

/* line 188, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.faster {
  -webkit-animation-duration: .3s;
  -moz-animation-duration: .3s;
  -o-animation-duration: .3s;
  -ms-animation-duration: .3s;
  animation-duration: .3s; }

/* line 196, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.fastest {
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  -ms-animation-duration: .2s;
  animation-duration: .2s; }

/* line 204, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.linear {
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear; }

/* line 212, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* line 220, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.alternate {
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate; }

@-webkit-keyframes fadeInDownMini {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDownMini {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

/* line 254, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.fadeInDownMini {
  -webkit-animation-name: fadeInDownMini;
  animation-name: fadeInDownMini; }

@-webkit-keyframes fadeOutUpMini {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); } }

@keyframes fadeOutUpMini {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); } }

/* line 285, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.fadeOutUpMini {
  -webkit-animation-name: fadeOutUpMini;
  animation-name: fadeOutUpMini; }

@-webkit-keyframes fadeInRightMini {
  from {
    opacity: 0;
    -webkit-transform: translate3d(15px, 0px, 0);
    transform: translate3d(15px, 0px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0);
    transform: translate3d(0px, 0px, 0); } }

@keyframes fadeInRightMini {
  from {
    opacity: 0;
    -webkit-transform: translate3d(15px, 0px, 0);
    transform: translate3d(15px, 0px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0);
    transform: translate3d(0px, 0px, 0); } }

/* line 316, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.fadeInRightMini {
  -webkit-animation-name: fadeInRightMini;
  animation-name: fadeInRightMini; }

@-webkit-keyframes fadeOutLeftMini {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0);
    transform: translate3d(0px, 0px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-15px, 0px, 0);
    transform: translate3d(-15px, 0px, 0); } }

@keyframes fadeOutLeftMini {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0);
    transform: translate3d(0px, 0px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-15px, 0px, 0);
    transform: translate3d(-15px, 0px, 0); } }

/* line 347, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.fadeOutLeftMini {
  -webkit-animation-name: fadeOutLeftMini;
  animation-name: fadeOutLeftMini; }

@-webkit-keyframes zoomInMini {
  from {
    opacity: 0;
    -webkit-transform-origin: 0 41px;
    transform-origin: 0 41px;
    -webkit-transform: scale(1, 0.8);
    transform: scale(1, 0.8); }
  to {
    opacity: 1;
    -webkit-transform-origin: 0 41px;
    transform-origin: 0 41px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes zoomInMini {
  from {
    opacity: 0;
    -webkit-transform-origin: 0 41px;
    transform-origin: 0 41px;
    -webkit-transform: scale(1, 0.8);
    transform: scale(1, 0.8); }
  to {
    opacity: 1;
    -webkit-transform-origin: 0 41px;
    transform-origin: 0 41px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

/* line 386, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.zoomInMini {
  -webkit-animation-name: zoomInMini;
  animation-name: zoomInMini; }

@-webkit-keyframes zoomOutMini {
  from {
    opacity: 1;
    -webkit-transform-origin: 0 41px;
    transform-origin: 0 41px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  to {
    opacity: 0;
    -webkit-transform-origin: 0 41px;
    transform-origin: 0 41px;
    -webkit-transform: scale(1, 0.8);
    transform: scale(1, 0.8); } }

@keyframes zoomOutMini {
  from {
    opacity: 1;
    -webkit-transform-origin: 0 41px;
    transform-origin: 0 41px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  to {
    opacity: 0;
    -webkit-transform-origin: 0 41px;
    transform-origin: 0 41px;
    -webkit-transform: scale(1, 0.8);
    transform: scale(1, 0.8); } }

/* line 425, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.zoomOutMini {
  -webkit-animation-name: zoomOutMini;
  animation-name: zoomOutMini; }

@-webkit-keyframes zoomInDownBig {
  from {
    opacity: 0;
    transform-origin: 0px 0px;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0); }
  to {
    opacity: 1;
    transform-origin: 0px 0px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes zoomInDownBig {
  from {
    opacity: 0;
    transform-origin: 0px 0px;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0); }
  to {
    opacity: 1;
    transform-origin: 0px 0px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

/* line 460, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.zoomInDownBig {
  -webkit-animation-name: zoomInDownBig;
  animation-name: zoomInDownBig; }

@-webkit-keyframes zoomOutUpBig {
  from {
    opacity: 1;
    transform-origin: 0px 0px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  to {
    opacity: 0;
    transform-origin: 0px 0px;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0); } }

@keyframes zoomOutUpBig {
  from {
    opacity: 1;
    transform-origin: 0px 0px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  to {
    opacity: 0;
    transform-origin: 0px 0px;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0); } }

/* line 495, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.animated.zoomOutUpBig {
  -webkit-animation-name: zoomOutUpBig;
  animation-name: zoomOutUpBig; }

/* 过渡效果 */
/* line 503, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.transient {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s; }
  /* line 509, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient:before {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s; }
  /* line 516, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient:after {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s; }

/* line 525, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.transient.slow {
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -ms-transition-duration: 2s;
  transition-duration: 2s; }
  /* line 531, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient.slow:before {
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    -ms-transition-duration: 2s;
    transition-duration: 2s; }
  /* line 538, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient.slow:after {
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    -ms-transition-duration: 2s;
    transition-duration: 2s; }

/* line 547, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.transient.slowly {
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  -ms-transition-duration: 5s;
  transition-duration: 5s; }
  /* line 553, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient.slowly:before {
    -webkit-transition-duration: 5s;
    -moz-transition-duration: 5s;
    -o-transition-duration: 5s;
    -ms-transition-duration: 5s;
    transition-duration: 5s; }
  /* line 560, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient.slowly:after {
    -webkit-transition-duration: 5s;
    -moz-transition-duration: 5s;
    -o-transition-duration: 5s;
    -ms-transition-duration: 5s;
    transition-duration: 5s; }

/* line 569, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.transient.fast {
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -ms-transition-duration: .5s;
  transition-duration: .5s; }
  /* line 575, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient.fast:before {
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s; }
  /* line 582, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient.fast:after {
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s; }

/* line 591, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.transient.faster {
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -ms-transition-duration: .3s;
  transition-duration: .3s; }
  /* line 597, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient.faster:before {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s; }
  /* line 604, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient.faster:after {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s; }

/* line 613, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.transient.fastest {
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  -ms-transition-duration: .2s;
  transition-duration: .2s; }
  /* line 619, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient.fastest:before {
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s; }
  /* line 626, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .transient.fastest:after {
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s; }

/* line 635, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.transient.linear {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-timing-function: linear; }

/* line 643, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.rotateDown {
  -webkit-transform-origin: 50% 25%;
  -moz-transform-origin: 50% 25%;
  -o-transform-origin: 50% 25%;
  -ms-transform-origin: 50% 25%;
  transform-origin: 50% 25%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }
  /* line 654, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .rotateDown.active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

/* line 663, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.flipDown {
  -webkit-transform-origin: 50% 70%;
  -moz-transform-origin: 50% 70%;
  -o-transform-origin: 50% 70%;
  -ms-transform-origin: 50% 70%;
  transform-origin: 50% 70%;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg); }
  /* line 674, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .flipDown.active {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg); }

/* line 683, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.fadeInDown {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 0; }
  /* line 690, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .fadeInDown.active {
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -o-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    opacity: 1; }

/* line 700, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
.slideLeft {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  opacity: 0; }
  /* line 707, /Users/lisfan/快盘/work/后台管理系统/ext/zw/lui/css/component.scss */
  .slideLeft.active {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; }

/*# sourceMappingURL=component.css.map */