@charset "UTF-8";
/* CSS Document */
/*==================================================
    * @name CSS 扩展插件UI
    * @author 莫胜利/lisfan Cell：18072152020/WeChat：448182355
    * @version - v1.0#2016-01-27
==================================================*/
/* 页面打印数据样式 */
/* line 15, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.tool-output {
  position: fixed;
  z-index: 19890129;
  right: 0px;
  top: 50px;
  box-shadow: 0 0 50px rgba(51, 51, 51, 0.4); }
  /* line 21, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .tool-output table {
    max-width: 600px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 12px;
    border: 1px solid #bbb; }
    /* line 27, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output table caption {
      font-size: 14px;
      font-weight: bold;
      padding: 5px 10px 15px; }
    /* line 32, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output table tr:nth-of-type(odd) {
      background-color: #ddd; }
    /* line 35, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output table tr:nth-of-type(1) {
      background-color: #ccc; }
    /* line 38, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output table th {
      font-size: 14px; }
    /* line 41, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output table td:nth-of-type(1) {
      width: 30%; }
    /* line 44, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output table td:nth-of-type(2) {
      width: 40%; }
    /* line 47, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output table td:nth-of-type(1) {
      width: 30%; }
    /* line 51, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output table th,
    .tool-output table td {
      border: 1px solid #bbb;
      padding: 5px 10px;
      font-family: arial;
      font-weight: bold; }
  /* line 58, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .tool-output .output-content {
    display: none;
    position: relative;
    z-index: 100;
    padding: 10px;
    background-color: #fff; }
  /* line 65, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .tool-output .tool-btn {
    position: absolute;
    z-index: 50;
    left: 0px;
    margin-left: -28px;
    padding: 8px 6px 8px 10px;
    width: 12px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer; }
    /* line 80, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output .tool-btn:hover {
      padding-right: 10px;
      transform: translate(-4px); }
    /* line 84, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output .tool-btn.tool-btn-expand {
      top: 10px;
      background-color: #3185EC;
      box-shadow: -3px 0px 7px -3px #044EA9 inset; }
    /* line 89, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output .tool-btn.tool-btn-close {
      display: none;
      top: 75px;
      background-color: #f33333;
      box-shadow: -3px 0px 7px -3px #790303 inset; }
  /* line 96, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .tool-output.active {
    right: 50px; }
    /* line 99, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output.active .output-content {
      display: block; }
    /* line 102, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .tool-output.active .tool-btn-close {
      display: block; }

/* 分页插件 */
/* line 111, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-pagination {
  padding-top: 60px;
  padding-bottom: 50px;
  font-size: 12px; }
  /* line 115, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-pagination .paging-num {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
    height: 28px;
    margin: 0 2px;
    padding: 0 10px;
    line-height: 26px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    /* line 140, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-pagination .paging-num:hover,
    .ext-pagination .paging-num.selected {
      border-color: #366dd1;
      background-color: #fff;
      color: #366dd1; }
    /* line 146, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-pagination .paging-num.disabled {
      opacity: .65;
      filter: alpha(opacity=65);
      cursor: default; }
    /* line 154, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-pagination .paging-num.next-paging,
    .ext-pagination .paging-num.prev-paging,
    .ext-pagination .paging-num.first-paging,
    .ext-pagination .paging-num.last-paging {
      width: auto;
      padding: 0px 10px;
      color: #fff;
      border-color: #366dd1;
      background-color: #366dd1; }
    /* line 164, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-pagination .paging-num.next-paging:hover,
    .ext-pagination .paging-num.prev-paging:hover,
    .ext-pagination .paging-num.first-paging:hover,
    .ext-pagination .paging-num.last-paging:hover {
      border-color: #255dc3;
      background-color: #255dc3; }
  /* line 169, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-pagination .paging-jump {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1; }
    /* line 175, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-pagination .paging-jump .jump {
      height: 30px;
      color: #555;
      border: 1px solid #d2d2d2;
      background-color: #fff; }
  /* line 182, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-pagination .paging-limit {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1; }
    /* line 188, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-pagination .paging-limit .limit {
      height: 30px;
      color: #555;
      border: 1px solid #d2d2d2;
      background-color: #fff; }
  /* line 195, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-pagination .paging-container {
    float: left; }
  /* line 198, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-pagination .paging-info {
    line-height: 30px;
    float: right; }
    /* line 201, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-pagination .paging-info em {
      font-weight: bold; }

/* 视图插件 */
/* line 210, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-panelview {
  padding: 10px; }
  /* line 212, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-panelview .ext-content {
    margin-top: -10px; }
    /* line 214, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-panelview .ext-content .ext-node {
      float: left;
      margin: 10px 10px 0px 0;
      padding: 8px 10px;
      color: #333;
      line-height: 12px;
      white-space: nowrap;
      border-radius: 3px;
      background-color: #efefef;
      border: 1px solid #aaa;
      -ms-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      -webkit-user-select: none;
      user-select: none; }
      /* line 229, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-panelview .ext-content .ext-node:hover {
        border: 1px solid #888; }
      /* line 232, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-panelview .ext-content .ext-node.disabled {
        color: #ccc;
        cursor: default;
        border: 1px solid #ccc; }
        /* line 236, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
        .ext-panelview .ext-content .ext-node.disabled:hover {
          color: #ccc;
          cursor: default; }
        /* line 240, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
        .ext-panelview .ext-content .ext-node.disabled .iconfont {
          cursor: default; }
      /* line 244, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-panelview .ext-content .ext-node .iconfont {
        position: relative;
        top: -1px;
        font-size: 14px;
        cursor: pointer;
        vertical-align: middle; }
  /* line 253, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-panelview .ext-control {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px; }
    /* line 257, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-panelview .ext-control .notice {
      line-height: 30px; }
    /* line 260, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-panelview .ext-control .btn {
      float: right;
      margin-left: 5px; }

/* 选择视图插件 */
/* line 270, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-select-panelview {
  position: relative;
  padding: 0;
  padding-right: 25px;
  min-width: 61px;
  min-height: 32px;
  height: auto;
  line-height: 32px;
  color: #555;
  text-align: left;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  cursor: pointer;
  outline: 0 none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
  /* line 289, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-select-panelview .ext-content {
    padding: 5px 0 0 5px; }
    /* line 291, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-select-panelview .ext-content .ext-node {
      float: left;
      margin: 0 5px 5px 0;
      padding: 2px 5px;
      max-width: 100%;
      line-height: 14px;
      white-space: nowrap;
      border-radius: 3px;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
      cursor: default; }
      /* line 302, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-select-panelview .ext-content .ext-node .iconfont {
        position: relative;
        top: -1px;
        font-size: 14px;
        cursor: pointer;
        vertical-align: middle; }
      /* line 309, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-select-panelview .ext-content .ext-node img {
        vertical-align: top;
        margin-right: 3px;
        height: 14px;
        font-size: 0px;
        line-height: 0px; }
  /* line 318, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-select-panelview .placeholder {
    display: none;
    padding: 0 0 0 10px;
    margin-right: 15px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  /* line 327, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-select-panelview .switch-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -2px;
    border-top: 5px solid #a6a6a6;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-bottom: 0 none;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0; }
  /* line 343, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-select-panelview .single {
    margin-right: 15px;
    padding: 0 0 0 10px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    /* line 352, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-select-panelview .single .ext-node {
      display: inline;
      padding: 0;
      line-height: 30px;
      background-color: transparent;
      border: none;
      box-shadow: none; }
      /* line 359, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-select-panelview .single .ext-node img {
        vertical-align: top;
        margin-right: 3px;
        margin-top: 8px;
        height: 14px;
        font-size: 0px;
        line-height: 0px; }
      /* line 367, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-select-panelview .single .ext-node .iconfont {
        display: none; }
  /* line 372, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-select-panelview:hover {
    border: 1px solid #508cf9; }
  /* line 375, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-select-panelview.active {
    border: 1px solid #508cf9;
    outline: 0 none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(80, 140, 249, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(80, 140, 249, 0.6); }
    /* line 380, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-select-panelview.active .switch-icon {
      margin-top: -3px;
      border-top: 0 none;
      border-bottom: 5px solid #a6a6a6; }
  /* line 386, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-select-panelview.ext-disabled {
    cursor: default;
    border: 1px solid #ddd; }
    /* line 389, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-select-panelview.ext-disabled .ext-node {
      color: #ccc; }
    /* line 392, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-select-panelview.ext-disabled:hover {
      border: 1px solid #ddd; }

/* 下拉插件 */
/* line 401, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-droplist {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #d2d2d2; }
  /* line 411, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-droplist .ext-node {
    margin: 0;
    padding: 8px 10px;
    white-space: nowrap;
    cursor: pointer;
    color: #555;
    outline: 0 none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
    /* line 423, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-droplist .ext-node img {
      height: 20px;
      font-size: 0px;
      line-height: 0px;
      vertical-align: middle;
      margin-right: 4px; }
    /* line 432, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-droplist .ext-node:hover {
      background: #eee; }
    /* line 435, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-droplist .ext-node:focus {
      outline: 0 none; }
    /* line 438, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-droplist .ext-node.selected {
      background: #3870F3;
      color: #eee; }
      /* line 441, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-droplist .ext-node.selected:hover {
        background: #3870F3;
        color: #eee; }
    /* line 446, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-droplist .ext-node.disabled {
      color: #ccc;
      cursor: default;
      background: transparent; }
      /* line 450, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-droplist .ext-node.disabled:hover {
        color: #ccc;
        cursor: default;
        background: transparent; }
  /* line 457, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-droplist.ext-disabled {
    border: 1px solid #ddd; }
    /* line 459, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-droplist.ext-disabled .ext-node {
      color: #ccc;
      cursor: default; }
      /* line 462, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-droplist.ext-disabled .ext-node:hover {
        background: transparent; }
      /* line 465, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-droplist.ext-disabled .ext-node.selected {
        background: #79a1ff;
        color: #eee; }
        /* line 468, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
        .ext-droplist.ext-disabled .ext-node.selected:hover {
          background: #79a1ff;
          color: #eee; }

/* 树列表插件 */
/* line 480, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-treelist {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #dcdcdc; }
  /* line 490, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-treelist .ext-child-content {
    display: none;
    padding-left: 12px; }
    /* line 493, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-treelist .ext-child-content.active {
      display: block; }
  /* line 497, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-treelist .ext-expander {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 20px;
    height: 100%;
    margin-left: -20px; }
    /* line 504, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-treelist .ext-expander:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-left: 8px;
      margin-top: -2px;
      border: 4px solid transparent;
      border-top-color: #777;
      font-size: 0px;
      line-height: 0;
      cursor: pointer;
      transform: rotate(-90deg);
      transform-origin: 50% 25%;
      text-indent: 0px; }
    /* line 520, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-treelist .ext-expander.active:after {
      transform: rotate(0); }
  /* line 525, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-treelist .ext-node-container {
    position: relative; }
  /* line 528, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-treelist .ext-node {
    position: relative;
    margin: 0;
    padding: 8px 10px 8px 20px;
    white-space: nowrap;
    cursor: pointer;
    color: #555;
    outline: 0 none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
    /* line 544, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-treelist .ext-node img {
      height: 20px;
      font-size: 0px;
      line-height: 0px;
      vertical-align: middle;
      margin-right: 4px; }
    /* line 552, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-treelist .ext-node:hover {
      background: #EEE; }
    /* line 555, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-treelist .ext-node:focus {
      outline: 0 none; }
    /* line 558, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-treelist .ext-node.selected {
      background: #3870F3;
      color: #FFF; }
      /* line 561, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-treelist .ext-node.selected:hover {
        background: #3870F3;
        color: #FFF; }
    /* line 566, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
    .ext-treelist .ext-node.disabled {
      color: #CCC;
      cursor: default;
      background: #FFF; }
      /* line 570, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
      .ext-treelist .ext-node.disabled:hover {
        color: #CCC;
        cursor: default;
        background: #FFF; }
  /* line 577, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
  .ext-treelist .ext-loader {
    margin-left: 6px;
    padding: 0px; }

/* 下拉视图插件 */
/*.ext-viewer {
	-webkit-user-select: none;
	user-select: none;
	position: relative;
	display: inline-block;
	padding: 0;
	text-align: left;
	border: 1px solid #d2d2d2;
	background-color: hsl(0, 100%, 100%);
	vertical-align: middle;
	cursor: pointer;
	outline: 0 none;
	line-height: 30px;
	min-height: 32px;
	color: #555;
	&.disabled {
		color: #999;
		&:hover {
			border: 1px solid #d2d2d2;
		}
	}
	&:hover {
		border: 1px solid #508cf9;
	}
	&.focus {
		border: 1px solid #508cf9;
		outline: 0 none;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(80, 140, 249, .6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(80, 140, 249, .6);
		background-color: hsl(36, 29%, 97%);
		.selectbox-icon {
			margin-top: -3px;
			border-top: 0 none;
			border-bottom: 5px solid hsl(0, 0%, 65%);
		}
	}
	.ext-content {
		height: 100%;
		padding: 6px 0 0 5px;
		display: block;
	}
	.ext-node {
		float: left;
		margin: 0 5px 5px 0;
		padding: 2px 5px;
		border: 1px solid #ccc;
		max-width: 100%;
		border-radius: 3px;
		background-color: #f5f5f5;
		background-size: 100% 19px;
		background-repeat: repeat-x;
		background-clip: padding-box;
		box-shadow: 0 0 2px hsl(0, 100%, 100%) inset, 0 1px 0 hsla(0, 0%, 0%, 0.05);
		line-height: 14px;
		white-space: nowrap;
		cursor: default;
		.iconfont {
			font-size: 14px;
			cursor: pointer;
		}
		img {
			vertical-align: top;
			margin-right: 3px;
			height: 14px;
			font-size: 0px;
			line-height: 0px;
		}
	}
	.placeholder {
		display: none;
		padding: 0 0 0 10px;
		margin-right: 15px;
		font-size: 12px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.single {
		padding: 0 0 0 10px;
		margin-right: 15px;
		font-size: 12px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		height: 32px;
		line-height: 30px;
		.ext-node {
			padding: 0;
			background-color: transparent;
			border: none;
			line-height: 30px;
			box-shadow: none;
			img {
				vertical-align: top;
				margin-right: 3px;
				margin-top: 8px;
				height: 14px;
				font-size: 0px;
				line-height: 0px;
			}
			.iconfont {
				display: none;
			}
		}
	}
	.selectbox-icon {
		position: absolute;
		right: 4px;
		top: 50%;
		margin-top: -2px;
		border-top: 5px solid hsl(0, 0%, 65%);
		border-left: 5px dashed hsla(0, 0%, 0%, 0);
		border-right: 5px dashed hsla(0, 0%, 0%, 0);
		border-bottom: 0 none;
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
		line-height: 0;
		font-size: 0;
	}
}*/
/* 节点状态样式 */
/*
//节点状态
//悬浮灰度高亮
.ext-node:hover {
	background: #EEE;
}

//禁用（文字变灰）
.ext-node.disabled {
	color: #aaa;
}

//选中禁用
.ext-node.selected.disabled {
	background: #6f98fa;
	color: #FFF;
	&:hover {
		background: #6f98fa;
		color: #FFF;
	}
}*/
/* line 738, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-node.ext-checkbox .ext-btn-checker {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  margin-top: -2px;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  font-size: 0px;
  line-height: 0px;
  background-image: url(../../checkbox.png);
  cursor: pointer;
  background-position: 0 0px; }

/* line 755, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-node.ext-checkbox.checked .ext-btn-checker {
  background-position: 0 -12px; }

/* line 760, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-node.ext-checkbox.checked-part .ext-btn-checker {
  background-position: 0 -24px; }

/* line 765, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-node.ext-checkbox.disabled .ext-btn-checker {
  background-position: 0 -36px;
  cursor: default; }

/* line 771, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-node.ext-checkbox.checked.disabled .ext-btn-checker {
  background-position: 0 -48px;
  cursor: default; }

/* line 778, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-node.ext-radio .ext-btn-checker {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  margin-top: -2px;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  font-size: 0px;
  line-height: 0px;
  background-image: url(../../checkbox.png);
  cursor: pointer;
  background-position: 0 -60px; }

/* line 795, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-node.ext-radio.checked .ext-btn-checker {
  background-position: 0 -72px; }

/* line 800, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-node.ext-radio.checked-part .ext-btn-checker {
  background-position: 0 -84px; }

/* line 805, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-node.ext-radio.disabled .ext-btn-checker {
  background-position: 0 -96px;
  cursor: default; }

/* line 811, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-node.ext-radio.checked.disabled .ext-btn-checker {
  background-position: 0 -108px;
  cursor: default; }

/* line 819, G:/SVN/Html/前端库/后台系统初版/html/ext/zw/lui-v2.1/css/extension.scss */
.ext-disabled .ext-node {
  color: #ccc; }

/*# sourceMappingURL=extension.css.map */