@charset "utf-8";

/* CSS Document */


/*==================================================
    * @name CSS 组件UI
    * @author 莫胜利/lisfan Cell：18072152020/WeChat：448182355
    * @version - v1.0#2016-01-27
==================================================*/


/* 条件过滤 */

.com-enabler,
.com-switcher {
	.node {
		&.active,
		&:hover {
			background-color: pink;
			color: #fff;
			a {}
		}
		a {}
	}
}

.com-droplist {
	.ui-trigger {
		a {
			font-size: 12px;
			border: 1px solid #ddd;
			padding: 10px;
			text-decoration: none;
		}
	}
}